In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')


kalp_krizi = pd.read_csv('cleveland-0_vs_4.zip',skiprows=18,header=None)
kalp_krizi.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,negative
1,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,negative
2,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,negative
3,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,negative
4,57.0,0.0,4.0,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,negative
5,57.0,1.0,4.0,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0,negative
6,56.0,0.0,2.0,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0,negative
7,44.0,1.0,2.0,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0,negative
8,52.0,1.0,3.0,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,negative
9,54.0,1.0,4.0,140.0,239.0,0.0,0.0,160.0,0.0,1.2,1.0,0.0,3.0,negative

In [2]:
cols="age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num".split(',')
kalp_krizi.columns=cols
kalp_krizi.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,negative
1,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,negative
2,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,negative
3,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,negative
4,57.0,0.0,4.0,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,negative
5,57.0,1.0,4.0,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0,negative
6,56.0,0.0,2.0,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0,negative
7,44.0,1.0,2.0,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0,negative
8,52.0,1.0,3.0,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,negative
9,54.0,1.0,4.0,140.0,239.0,0.0,0.0,160.0,0.0,1.2,1.0,0.0,3.0,negative

In [3]:
kalp_krizi.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

In [4]:
for i in range(len(kalp_krizi)):
    if (kalp_krizi['num'].iloc[i]=='negative'):
        kalp_krizi['num'].iloc[i]=4
    elif(kalp_krizi['num'].iloc[i]=='positive'):
        kalp_krizi['num'].iloc[i]=0

In [5]:
kalp_krizi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 14 columns):
age         177 non-null float64
sex         177 non-null float64
cp          177 non-null float64
trestbps    177 non-null float64
chol        177 non-null float64
fbs         177 non-null float64
restecg     177 non-null float64
thalach     177 non-null float64
exang       177 non-null float64
oldpeak     177 non-null float64
slope       177 non-null float64
ca          177 non-null object
thal        177 non-null object
num         177 non-null int64
dtypes: float64(11), int64(1), object(2)
memory usage: 19.4+ KB

In [6]:
liste=list()
for i in range(len(kalp_krizi)):
    if (kalp_krizi['thal'].iloc[i]=='<null>'):
        liste.append(i)

In [7]:
for i in range(len(kalp_krizi)):
    if (kalp_krizi['ca'].iloc[i]=='<null>'):
        liste.append(i)

In [8]:
kalp_krizi.drop(liste,inplace=True)

In [9]:
kalp_krizi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 0 to 176
Data columns (total 14 columns):
age         173 non-null float64
sex         173 non-null float64
cp          173 non-null float64
trestbps    173 non-null float64
chol        173 non-null float64
fbs         173 non-null float64
restecg     173 non-null float64
thalach     173 non-null float64
exang       173 non-null float64
oldpeak     173 non-null float64
slope       173 non-null float64
ca          173 non-null object
thal        173 non-null object
num         173 non-null int64
dtypes: float64(11), int64(1), object(2)
memory usage: 20.3+ KB

In [10]:
kalp_krizi['thal'].value_counts()
kalp_krizi['thal'].value_counts()

3.0    129
7.0     36
6.0      8
Name: thal, dtype: int64

In [11]:
kalp_krizi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 0 to 176
Data columns (total 14 columns):
age         173 non-null float64
sex         173 non-null float64
cp          173 non-null float64
trestbps    173 non-null float64
chol        173 non-null float64
fbs         173 non-null float64
restecg     173 non-null float64
thalach     173 non-null float64
exang       173 non-null float64
oldpeak     173 non-null float64
slope       173 non-null float64
ca          173 non-null object
thal        173 non-null object
num         173 non-null int64
dtypes: float64(11), int64(1), object(2)
memory usage: 20.3+ KB

In [13]:
kalp_krizi['ca']=kalp_krizi['ca'].values.astype('float64') 
kalp_krizi['thal']=kalp_krizi['thal'].values.astype('float64')

In [14]:
kalp_krizi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 0 to 176
Data columns (total 14 columns):
age         173 non-null float64
sex         173 non-null float64
cp          173 non-null float64
trestbps    173 non-null float64
chol        173 non-null float64
fbs         173 non-null float64
restecg     173 non-null float64
thalach     173 non-null float64
exang       173 non-null float64
oldpeak     173 non-null float64
slope       173 non-null float64
ca          173 non-null float64
thal        173 non-null float64
num         173 non-null int64
dtypes: float64(13), int64(1)
memory usage: 20.3 KB

In [15]:
kalp_krizi['num'].value_counts()

4    160
0     13
Name: num, dtype: int64

In [16]:
# imbalanced data

In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [18]:
def model_olustur(X, y):
    X_eğitim, X_test, y_eğitim, y_test =  train_test_split(X, y, test_size=0.20, random_state=111, stratify = y)
    logreg_model = LogisticRegression()
    logreg_model.fit(X_eğitim, y_eğitim)

    tahmin_eğitim = logreg_model.predict(X_eğitim)
    tahmin_test = logreg_model.predict(X_test)
    hata_matrisi_eğitim = confusion_matrix(y_eğitim, tahmin_eğitim)
    hata_matrisi_test = confusion_matrix(y_test, tahmin_test)
    print("Modelin doğruluk değeri : ",  logreg_model.score(X_test, y_test))
    print("Eğitim veri kümesi")
    print(classification_report(y_eğitim,tahmin_eğitim) )
    print("Test veri kümesi")
    print(classification_report(y_test,tahmin_test) )
    return  None

In [19]:
X = kalp_krizi.drop('num', axis=1)
y = kalp_krizi['num']
model_olustur(X,y)

Modelin doğruluk değeri :  0.9428571428571428
Eğitim veri kümesi
              precision    recall  f1-score   support

           0       0.88      0.70      0.78        10
           4       0.98      0.99      0.98       128

    accuracy                           0.97       138
   macro avg       0.93      0.85      0.88       138
weighted avg       0.97      0.97      0.97       138

Test veri kümesi
              precision    recall  f1-score   support

           0       0.67      0.67      0.67         3
           4       0.97      0.97      0.97        32

    accuracy                           0.94        35
   macro avg       0.82      0.82      0.82        35
weighted avg       0.94      0.94      0.94        35

In [20]:
# Örneklem Artırma

In [21]:
from sklearn.utils import resample

In [22]:
kalp_hastasi = kalp_krizi[kalp_krizi['num'] == 0]
saglikli = kalp_krizi[kalp_krizi['num'] == 4]

kalp_hastasi_artırılmış = resample(kalp_hastasi,
                                     replace = True,
                                     n_samples = len(saglikli),
                                     random_state = 111)

artırılmıs_kalp = pd.concat([saglikli, kalp_hastasi_artırılmış])
artırılmıs_kalp.num.value_counts()

4    160
0    160
Name: num, dtype: int64

In [23]:
X = artırılmıs_kalp.drop('num', axis=1)
y = artırılmıs_kalp['num']
model_olustur(X,y)

Modelin doğruluk değeri :  0.96875
Eğitim veri kümesi
              precision    recall  f1-score   support

           0       0.96      1.00      0.98       128
           4       1.00      0.95      0.98       128

    accuracy                           0.98       256
   macro avg       0.98      0.98      0.98       256
weighted avg       0.98      0.98      0.98       256

Test veri kümesi
              precision    recall  f1-score   support

           0       0.94      1.00      0.97        32
           4       1.00      0.94      0.97        32

    accuracy                           0.97        64
   macro avg       0.97      0.97      0.97        64
weighted avg       0.97      0.97      0.97        64

In [24]:
# Örneklem azaltmak

In [25]:
kalp_hastasi = kalp_krizi[kalp_krizi['num'] == 0]
saglikli = kalp_krizi[kalp_krizi['num'] == 4]

saglikli_azaltılmış = resample(saglikli,
                                     replace = True,
                                     n_samples = len(kalp_hastasi),
                                     random_state = 111)

azaltılmış_saglikli = pd.concat([kalp_hastasi, saglikli_azaltılmış])
azaltılmış_saglikli.num.value_counts()

4    13
0    13
Name: num, dtype: int64

In [26]:
X = azaltılmış_saglikli.drop('num', axis=1)
y = azaltılmış_saglikli['num']
model_olustur(X,y)

Modelin doğruluk değeri :  1.0
Eğitim veri kümesi
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           4       1.00      1.00      1.00        10

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20

Test veri kümesi
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         3
           4       1.00      1.00      1.00         3

    accuracy                           1.00         6
   macro avg       1.00      1.00      1.00         6
weighted avg       1.00      1.00      1.00         6

In [29]:
from imblearn.over_sampling import SMOTE
y = kalp_krizi['num']
X = kalp_krizi.drop('num', axis=1)

sm = SMOTE(random_state=27, ratio=1.0)
X_smote, y_smote = sm.fit_sample(X, y)
model_olustur(X_smote, y_smote)

Modelin doğruluk değeri :  0.953125
Eğitim veri kümesi
              precision    recall  f1-score   support

           0       0.96      1.00      0.98       128
           4       1.00      0.96      0.98       128

    accuracy                           0.98       256
   macro avg       0.98      0.98      0.98       256
weighted avg       0.98      0.98      0.98       256

Test veri kümesi
              precision    recall  f1-score   support

           0       0.91      1.00      0.96        32
           4       1.00      0.91      0.95        32

    accuracy                           0.95        64
   macro avg       0.96      0.95      0.95        64
weighted avg       0.96      0.95      0.95        64

In [31]:
from imblearn.over_sampling import ADASYN

y = kalp_krizi['num']
X = kalp_krizi.drop('num', axis=1)

ad = ADASYN()
X_adasyn, y_adasyn = ad.fit_sample(X, y)
model_olustur(X_adasyn, y_adasyn)

Modelin doğruluk değeri :  0.984375
Eğitim veri kümesi
              precision    recall  f1-score   support

           0       0.96      1.00      0.98       127
           4       1.00      0.96      0.98       128

    accuracy                           0.98       255
   macro avg       0.98      0.98      0.98       255
weighted avg       0.98      0.98      0.98       255

Test veri kümesi
              precision    recall  f1-score   support

           0       0.97      1.00      0.98        32
           4       1.00      0.97      0.98        32

    accuracy                           0.98        64
   macro avg       0.98      0.98      0.98        64
weighted avg       0.98      0.98      0.98        64